<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZMenuDropView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8D96D01E8E246E00D665E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8D96E41E8E246F00D665E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8D96EF1E8E246F00D665E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
